$radius: var(--border-radius-2);
.fixHeader {
  border-radius: $radius $radius $radius $radius;
  .thead {
    position: sticky;
    top: 0;
    z-index: 1;
    outline: 1px solid var(--color-border);
  }
}
