:root {
  // DIMENSIONS

  // margins and paddings
  --m-xxxxs: 4px;
  --m-xxxs: 6px;
  --m-xxs: 8px;
  --m-xs: 12px;
  --m-s: 16px;
  --m: 24px;
  --m-mm: 32px;
  --m-l: 40px;
  --m-xl: 48px;
  --m-xxl: 60px;

  // FONTS

  --font-size-xs: 0.8rem;
  --font-size-s: 0.8125rem;
  --font-size: 0.875rem;
  --font-size-l: 1rem;
  --font-size-xl: 1.125rem;
  --font-size-xxl: 1.5rem;
  --font-size-xxxl: 2.25rem;
  --font-size-h: 3rem;

  --font-family-1: "Inter", sans-serif;
  --font-family-2: "Laxan", sans-serif;

  // BORDERS

  --border-radius-1: 4px;
  --border-radius-2: 8px;
  --border-radius-3: 12px;
  --border-radius-4: 16px;
  --border-radius-5: 20px;
  --border-radius-r: 50%;

  // TRANSITIONS

  --fast: 0.3s;
  --speed: 0.4s;
  --slow: 0.9s;
  --ease: ease-out;
  --transition-ui: background-color var(--fast) var(--ease), border-color var(--fast) var(--ease), opacity var(--fast) var(--ease),
    transform var(--fast) var(--ease), color var(--fast) var(--ease);

  // BLURRED

  --blurred: 5px;
}
