.heading {
  display: flex;
  gap: var(--m);
  height: 100%;
  align-items: center;
  height: 60px;
  font-size: var(--font-size-s);

  & > * {
    margin-bottom: 0 !important;
  }
}

.separator {
  margin-left: auto;
}
