# If provided, the on-disk database (BadgerDB) will use AES encryption. If used, must be set at first startup.
# The type of AES is used based on the key size. For example 16 bytes will use AES-128. 24 bytes will use AES-192. 32 bytes will use AES-256.
DISK_DB_ENCRYPTION_KEY=badgerkey16bytes
DISK_DB_LOCATION=/tmp/badger

# Used by the front end to gently authenticate requests. This entire application should be within your VPC and should NOT be externally accessible.
# Leaving this empty will allow unauthenticated requests to the API server.
HTTP_API_SERVER_AUTHORIZATION_HEADER_TOKEN=e0624335df269dc1537fde96248a931d
# CSV of origin(s) a cross-domain request can be executed from the internal API server. * will allow all.
HTTP_API_SERVER_CORS_ALLOW_ORIGINS=*
HTTP_API_SERVER_PORT=3003
