DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=
DB_USER=
DB_PASS=
POST_REQUEST_URL=https://httpbin.org/post
# Use the format ${column_name} to add values (the column names of the table) into the post request body
POST_REQUEST_BODY='{"text":"A new user has been created! \nName: ${name} \nEmail: ${email}"}'
