@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    width: 100%;
    font-size: 100%;
    overflow-x: hidden;
    scroll-behavior: auto !important;
}

body {
    max-height: 100vh;
}

@media screen and (max-width: 992px) {
    html {
        font-size: 100%;
    }
}

@media screen and (max-width: 668px) {
    html {
        font-size: 96%;
    }
}

@media screen and (max-width: 575px) {
    html {
        font-size: 92%;
    }
}

@media screen and (max-width: 475px) {
    html {
        font-size: 88%;
    }
}

@media screen and (max-width: 380px) {
    html {
        font-size: 84%;
    }
}

@media screen and (max-width: 280px) {
    html {
        font-size: 80%;
    }
}

.f8 {
    font-size: 0.5rem;
}

.f10 {
    font-size: 0.625rem;
}

.f12 {
    font-size: 0.75rem;
}

.f14 {
    font-size: 0.875rem;
}

.f15 {
    font-size: 0.938rem;
}

.f16 {
    font-size: 1rem;
}

.f18 {
    font-size: 1.125rem;
}

.f20 {
    font-size: 1.25rem;
}

.f22 {
    font-size: 1.375rem;
}

.f24 {
    font-size: 1.5rem;
}

.f28 {
    font-size: 1.75rem;
}

.f34 {
    font-size: 2.125rem;
}

.f30 {
    font-size: 1.875rem;
}

.f35 {
    font-size: 2.125rem;
    line-height: 57px;
}

.f50 {
    font-size: 3.125rem;
    line-height: 65px;
}

.f64 {
    font-size: 4rem;
    line-height: 71px;
}

.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}

.fw600 {
    font-weight: 600;
}

.fw700 {
    font-weight: 700;
}

.fw800 {
    font-weight: 800;
}

.fw900 {
    font-weight: 900;
}

.pointer {
    cursor: pointer;
}

.mx-content {
    width: -moz-max-content;
    width: max-content;
}

.active_ {
    height: 18px;
    width: 18px;
    background: #8961de;
    margin-right: 5px;
    border-radius: 5px;
}

.pointer {
    cursor: pointer;
}

.unactive_ {
    height: 18px;
    width: 18px;
    background: #c2cfe0;
    margin-right: 5px;
    border-radius: 5px;
}

.color1 {
    color: #8961de;
}

.light .color2 {
    color: #808080;
}

.light .color3 {
    color: #90a0b7;
}

.light hr {
    background-color: #ebeff2;
}

.dark .color2 {
    color: #d1d2d5;
}

.dark .color3 {
    color: #aaaaaf;
}

.dark hr {
    background-color: rgba(235, 239, 242, 0.08);
}

.bg-purple-light {
    background: rgba(137, 97, 222, 0.25) !important;
}

.bg-purple-dark {
    background: #8961de !important;
}

.logo img {
    max-width: 200px;
}

.logo2 img {
    max-width: 200px;
}

.light .logoD {
    display: block;
}

.light .logoW {
    display: none;
}

.light .login_container {
    background-color: #f5f6f8;
    height: 100vh;
    width: 100%;
}

.light .login_container .bottom_wave {
    position: absolute;
    bottom: 0%;
}

.light .login_container .login_form {
    max-width: 450px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}

.light .login_container .login_form label {
    color: #808080;
}

.light .login_container .login_form input {
    background: rgba(235, 239, 242, 0.35);
    border: 1px solid #ebeff2;
    border-radius: 5px;
    height: 38px;
    color: #808080;
}

.light .login_container .login_form input::-moz-placeholder {
    color: #BCBCBC;
}

.light .login_container .login_form input::placeholder {
    color: #90a0b7;
}

.light .login_container .login_form input:focus {
    outline: none;
}

.light .login_container .login_form .eye {
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    right: 0.5rem;
    color: #90a0b7;
}

.light .login_container .login_form button {
    height: 38px;
    border-radius: 5px;
    background-color: #8961de;
}

.light .sidebar_container {
    transition: 0.2s;
    height: 100vh;
    background: #ffffff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.08);
}

.light .sidebar_container .top_side {
    border-bottom: 2px solid #ebeff2;
    height: 75px;
}

.light .sidebar_container a {
    text-decoration: none;
}

.light .sidebar_container a div {
    padding-left: 0.6rem;
    height: 45px;
    color: #90a0b7;
    border-radius: 5px;
    transition: 0.1s;
}

.light .sidebar_container a div p {
    padding-left: 2rem;
}

.light .sidebar_container a div .img1::before {
    content: url(../assets/overview.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.light .sidebar_container a div .img2::before {
    content: url(../assets/user.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.light .sidebar_container a div .img3::before {
    content: url(../assets/payment.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.light .sidebar_container a div .img4::before {
    content: url(../assets/release.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.light .sidebar_container a div .img5::before {
    content: url(../assets/setting.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.light .sidebar_container a:hover div {
    color: #fff;
    background: #8961de;
}

.light .sidebar_container a:hover div .img1::before {
    content: url(../assets/overviewA.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.light .sidebar_container a:hover div .img2::before {
    content: url(../assets/userA.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.light .sidebar_container a:hover div .img3::before {
    content: url(../assets/paymentA.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.light .sidebar_container a:hover div .img4::before {
    content: url(../assets/releaseA.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.light .sidebar_container a:hover div .img5::before {
    content: url(../assets/settingA.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.light .sidebar_container .activeNav div {
    background: #8961de;
    color: #fff;
}

.light .sidebar_container .activeNav div .img1::before {
    content: url(../assets/overviewA.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.light .sidebar_container .activeNav div .img2::before {
    content: url(../assets/userA.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.light .sidebar_container .activeNav div .img3::before {
    content: url(../assets/paymentA.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.light .sidebar_container .activeNav div .img4::before {
    content: url(../assets/releaseA.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.light .sidebar_container .activeNav div .img5::before {
    content: url(../assets/settingA.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.light .header_container {
    height: 75px;
    background-color: #fff;
}

.light .header_container input {
    color: #90a0b7;
    height: 27px;
}

.light .header_container input::-moz-placeholder {
    color: #90a0b7;
}

.light .header_container input::placeholder {
    color: #90a0b7;
}

.light .header_container input:focus {
    outline: none;
}

.light .upper_states {
    margin-top: -4rem;
}

.light .upper_states .states_container {
    --bs-gutter-x: 1.2rem;
    --bs-gutter-y: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.light .upper_states .states_container > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

.light .upper_states .states_container .state {
    min-height: 1px;
    height: 100%;
    flex: 0 0 auto;
    width: 20%;
}

.light .upper_states .states_container .state .inner_state {
    background: rgba(137, 97, 222, 0.25);
    border-radius: 5px;
}

.light .chart_container .charts {
    border-radius: 10px;
    position: relative;
    padding: 3.8rem 0rem 0.8rem 0rem;
}

.light .chart_container .charts:before {
    content: "";
    background-color: #fff;
}

.light .chart_container .charts .charts_btn {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 3.4%;
}

.light .chart_container .charts .charts_btn .btn_container {
    background: rgba(137, 97, 222, 0.25);
    border-radius: 4px;
}

.light .chart_container .charts .charts_btn .btn_container button {
    font-size: 16px;
    width: 80px;
    border: none;
    background: none;
    font-size: 0.8rem;
    padding: 0.2rem 0rem;
    color: #8961de;
    border-radius: 4px;
}

.light .chart_container .charts .charts_btn .btn_container button.active_btn {
    background-color: #8961de;
    color: #fff;
}

.light .chart_container .charts .chart_cont_inner {
    width: 100%;
}

.light .chart_container .charts .recharts-legend-wrapper {
    display: none;
}

.light .recent_activity {
    min-height: 1px;
    height: 100%;
}

.light .recent_trans {
    overflow-x: auto;
    min-width: 100% !important;
    max-height: 400px;
}

.light .recent_trans::-webkit-scrollbar {
    width: 7px;
}

.light .recent_trans::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.light .recent_trans::-webkit-scrollbar-thumb {
    background: #8961de;
    border-radius: 10px;
}

.light .recent_trans .table {
    border-color: rgba(235, 239, 242, 0.08);
}

.light .recent_trans table {
    width: 100%;
}

.light .recent_trans .table > thead {
    border-top: 1px solid rgba(235, 239, 242, 0.08);
}

.light .recent_trans tbody tr td {
    padding: 1rem 0rem;
}

.light .recent_trans tbody tr td button {
    background: rgba(0, 195, 114, 0.25);
    border-radius: 5px;
    height: 30px;
    color: #00c372;
}

.light .user_container_upper .user_btn_container button:nth-child(1) {
    background: rgba(194, 207, 224, 0.25);
    border-radius: 3px;
    height: 30px;
    width: 100px;
}

.light .user_container_upper .user_btn_container button:nth-child(2) {
    background: #8961de;
    border-radius: 3px;
    height: 30px;
    width: 100px;
}

.light .user_container_upper .user_table {
    max-width: 100%;
    overflow-x: auto;
}

.light .user_container_upper .user_table table {
    width: 100%;
}

.light .user_container_upper .user_table table tr th {
    padding: 1.2rem 0rem;
}

.light .user_container_upper .user_table tbody tr td {
    padding: 1.2rem 0rem;
}

.light .user_container_upper .user_table tbody tr td:nth-child(3) {
    min-width: 100px;
}

.light .user_container_upper .user_table tbody tr td:nth-child(4) {
    min-width: 100px;
}

.light .user_container_upper .user_table tbody tr td:nth-child(5) {
    min-width: 180px;
}

.light .payment_container_upper .database_setup label {
    color: #90a0b7;
    margin-bottom: 0.1rem;
}

.light .payment_container_upper .database_setup input {
    background: rgba(235, 239, 242, 0.35);
    border: 1px solid #ebeff2;
    border-radius: 5px;
    height: 38px;
    width: 100%;
    color: #90a0b7;
    font-size: 16px;
    padding: 0rem 0.8rem;
}

.light .payment_container_upper .database_setup input:focus {
    outline: none;
}

.light .payment_container_upper .database_setup input::-moz-placeholder {
    color: #90a0b7;
}

.light .payment_container_upper .database_setup input::placeholder {
    color: #90a0b7;
}

.light .payment_container_upper .database_setup textarea {
    background: rgba(235, 239, 242, 0.35);
    border: 1px solid #ebeff2;
    border-radius: 5px;
    width: 100%;
    color: #90a0b7;
    font-size: 16px;
    padding: 0.8rem;
    resize: none;
}

.light .payment_container_upper .database_setup textarea:focus {
    outline: none;
}

.light .payment_container_upper .database_setup textarea::-moz-placeholder {
    color: #90a0b7;
}

.light .payment_container_upper .database_setup textarea::placeholder {
    color: #90a0b7;
}

.light .payment_container_upper .database_setup .inp1 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.light .payment_container_upper .database_setup .inp2 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.light .payment_container_upper .database_setup button {
    height: 46px;
    background: #8961de;
    border-radius: 5px;
}

.light .payment_container_upper .user_btn_container button:nth-child(1) {
    background: rgba(194, 207, 224, 0.25);
    border-radius: 3px;
    height: 30px;
    width: 100px;
}

.light .payment_container_upper .user_btn_container button:nth-child(2) {
    background: #8961de;
    border-radius: 3px;
    height: 30px;
    width: 100px;
}

.light .payment_container_upper .payment_table {
    max-width: 100%;
    overflow-x: auto;
}

.light .payment_container_upper .payment_table table {
    width: 100%;
}

.light .payment_container_upper .payment_table table tr th {
    padding: 1.2rem 0rem;
}

.light .payment_container_upper .payment_table tbody tr td {
    padding: 1.2rem 0rem;
}

.light .payment_container_upper .payment_table tbody tr td:nth-child(2) {
    min-width: 120px;
}

.light .payment_container_upper .payment_table tbody tr td:nth-child(3) {
    min-width: 100px;
}

.light .payment_container_upper .payment_table tbody tr td:nth-child(4) {
    min-width: 80px;
}

.light .payment_container_upper .payment_table tbody tr td:nth-child(5) {
    min-width: 100px;
}

.light .error {
    color: #f65454;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    padding-top: 4px;
}

.light .error-create-action {
    color: red;
    font-size: 14px;
    padding-top: 4px;
}

.light select {
    background: rgba(235, 239, 242, 0.35);
    border: 1px solid #ebeff2;
    border-radius: 5px;
    height: 38px;
    width: 100%;
    color: #808080;
    padding: 0rem 0.5rem;
}

.light select:focus {
    outline: none;
}

.light select::-moz-placeholder {
    color: #90a0b7;
}

.light select::placeholder {
    color: #90a0b7;
}

.light .forms {
    /* The container */
    /* Hide the browser's default checkbox */
    /* Create a custom checkbox */
    /* On mouse-over, add a grey background color */
    /* When the checkbox is checked, add a blue background */
    /* Create the checkmark/indicator (hidden when not checked) */
    /* Show the checkmark when checked */
    /* Style the checkmark/indicator */
}

.light .forms label {
    color: #90a0b7;
    margin-bottom: 0.1rem;
}

.light .forms input {
    background: rgba(235, 239, 242, 0.35);
    border: 1px solid #ebeff2;
    border-radius: 5px;
    height: 38px;
    width: 100%;
    color: #90a0b7;
    font-size: 16px;
    padding: 0rem 0.8rem;
}

.light .forms input:focus {
    outline: none;
}

.light .forms input::-moz-placeholder {
    color: #90a0b7;
}

.light .forms input::placeholder {
    color: #90a0b7;
}

.light .forms textarea {
    background: rgba(235, 239, 242, 0.35);
    border: 1px solid #ebeff2;
    border-radius: 5px;
    width: 100%;
    color: #90a0b7;
    font-size: 16px;
    padding: 0.8rem;
    resize: none;
}

.light .forms textarea:focus {
    outline: none;
}

.light .forms textarea::-moz-placeholder {
    color: #90a0b7;
}

.light .forms textarea::placeholder {
    color: #90a0b7;
}

.light .forms select {
    background: rgba(235, 239, 242, 0.35);
    border: 1px solid #ebeff2;
    border-radius: 5px;
    height: 38px;
    width: 100%;
    color: #90a0b7;
    font-size: 16px;
    padding: 0rem 0.8rem;
}

.light .forms select:focus {
    outline: none;
}

.light .forms select::-moz-placeholder {
    color: #90a0b7;
}

.light .forms select::placeholder {
    color: #90a0b7;
}

.light .forms .inp1 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.light .forms .inp2 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.light .forms button {
    height: 38px;
    background: #8961de;
    border-radius: 5px;
}

.light .forms .container_check {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.light .forms .container_check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    border-radius: 4px;
}

.light .forms .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background: #90a0b7;
    border-radius: 4px;
    opacity: 0.4;
}

.light .forms .container_check:hover input ~ .checkmark {
    background-color: #ccc;
    opacity: 1;
}

.light .forms .container_check input:checked ~ .checkmark {
    background-color: #8961de;
    border-radius: 4px;
    opacity: 1;
}

.light .forms .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.light .forms .container_check input:checked ~ .checkmark:after {
    display: block;
}

.light .forms .container_check .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.light .forms .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.light .forms .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.light .forms .abs {
    left: 1rem;
    top: 0.6rem;
}

.light .release_setup {
    /* The container */
    /* Hide the browser's default checkbox */
    /* Create a custom checkbox */
    /* On mouse-over, add a grey background color */
    /* When the checkbox is checked, add a blue background */
    /* Create the checkmark/indicator (hidden when not checked) */
    /* Show the checkmark when checked */
    /* Style the checkmark/indicator */
}

.light .release_setup .container_check {
    margin-bottom: 0.8rem !important;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.light .release_setup .container_check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    border-radius: 4px;
}

.light .release_setup .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background: #90a0b7;
    border-radius: 4px;
    opacity: 0.4;
}

.light .release_setup .container_check:hover input ~ .checkmark {
    background-color: #ccc;
    opacity: 1;
}

.light .release_setup .container_check input:checked ~ .checkmark {
    background-color: #8961de;
    border-radius: 4px;
    opacity: 1;
}

.light .release_setup .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.light .release_setup .container_check input:checked ~ .checkmark:after {
    display: block;
}

.light .release_setup .container_check .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.light .release_setup .first_s {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.light .release_setup .second_s {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.light .release_table .btns_span {
    z-index: 10;
}

.light .release_table button {
    width: 110px;
}

.light .release_table .position-absolute {
    left: 50%;
    transform: translateX(-50%);
}

.light .release_table .rete_head {
    --bs-gutter-x: 1.2rem;
    --bs-gutter-y: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.light .release_table .rete_head > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    margin-top: var(--bs-gutter-y);
}

.light .release_table .rete_head p {
    min-height: 1px;
    height: 100%;
    flex: 0 0 auto;
    width: 14.2857142857%;
    border: 1px solid #ebeff2;
}

.light .release_table .body_p {
    height: 110px;
}

.light .release_table table.cal {
    table-layout: fixed;
    width: 100%;
}

.light .release_table table.cal tr td {
    border: 1px solid #ebeff2;
    width: 25%;
}

.light .release_table .releaseCal {
    min-width: 100%;
    overflow-x: auto;
}

.light .release_table .releaseCal table {
    width: 100%;
}

.light .release_table .releaseCal table tr td {
    width: 140px;
}

.light .release_table .col2 {
    width: 60%;
}

.light .release_table .active {
    padding: 0.2rem 0.5rem;
    background: rgba(137, 97, 222, 0.25);
    border: 1px solid #8961de;
    border-radius: 5px;
    color: #8961de;
}

.dark > * {
    color: #fff;
}

.dark .logoD {
    display: none;
}

.dark .logoW {
    display: block;
}

.dark .error {
    color: red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    padding-top: 4px;
}

.dark .error-create-action {
    color: red;
    font-size: 14px;
    padding-top: 4px;
}

.dark .bg-white {
    background-color: #181818 !important;
}

.dark .login_container {
    background-color: #212121;
    height: 100vh;
    width: 100%;
}

.dark .login_container h4 {
    color: #fff;
}

.dark .login_container .bottom_wave {
    position: absolute;
    bottom: 0%;
}

.dark .login_container .login_form {
    max-width: 392px;
    width: 100%;
    border-radius: 5px;
    background-color: #181818;
}

.dark .login_container .login_form label {
    color: #54555f;
}

.dark .login_container .login_form input {
    background: rgba(41, 41, 41, 0.35);
    border: 1px solid #292929;
    color: #54555f;
    border-radius: 5px;
    height: 38px;
}

.dark .login_container .login_form input::-moz-placeholder {
    color: #54555f;
}

.dark .login_container .login_form input::placeholder {
    color: #54555f;
}

.dark .login_container .login_form input:focus {
    outline: none;
}

.dark .login_container .login_form .eye {
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    right: 0.5rem;
    color: #54555f;
}

.dark .login_container .login_form button {
    height: 38px;
    border-radius: 5px;
    background-color: #8961de;
}

.dark .sidebar_container {
    transition: 0.2s;
    height: 100vh;
    background: #181818;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.08);
}

.dark .sidebar_container .top_side {
    border-bottom: 2px solid rgba(235, 239, 242, 0.08);
    height: 75px;
}

.dark .sidebar_container a {
    text-decoration: none;
}

.dark .sidebar_container a div {
    padding-left: 0.6rem;
    height: 45px;
    color: #54555f;
    border-radius: 5px;
    transition: 0.1s;
}

.dark .sidebar_container a div p {
    padding-left: 2rem;
}

.dark .sidebar_container a div .img1::before {
    content: url(../assets/statesd/i5.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.dark .sidebar_container a div .img2::before {
    content: url(../assets/statesd/i1.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.dark .sidebar_container a div .img3::before {
    content: url(../assets/statesd/i2.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.dark .sidebar_container a div .img4::before {
    content: url(../assets/statesd/i3.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.dark .sidebar_container a div .img5::before {
    content: url(../assets/statesd/i4.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.dark .sidebar_container a:hover div {
    color: #fff;
    background: #8961de;
}

.dark .sidebar_container a:hover div .img1::before {
    content: url(../assets/overviewA.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.dark .sidebar_container a:hover div .img2::before {
    content: url(../assets/userA.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.dark .sidebar_container a:hover div .img3::before {
    content: url(../assets/paymentA.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.dark .sidebar_container a:hover div .img4::before {
    content: url(../assets/releaseA.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.dark .sidebar_container a:hover div .img5::before {
    content: url(../assets/settingA.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.dark .sidebar_container .activeNav div {
    background: #8961de;
    color: #fff;
}

.dark .sidebar_container .activeNav div .img1::before {
    content: url(../assets/overviewA.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.dark .sidebar_container .activeNav div .img2::before {
    content: url(../assets/userA.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.dark .sidebar_container .activeNav div .img3::before {
    content: url(../assets/paymentA.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.dark .sidebar_container .activeNav div .img4::before {
    content: url(../assets/releaseA.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.dark .sidebar_container .activeNav div .img5::before {
    content: url(../assets/settingA.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 27%;
}

.dark .header_container {
    height: 75px;
    background-color: #181818;
}

.dark .header_container input {
    background-color: #181818;
    color: #54555f;
    height: 27px;
}

.dark .header_container input::-moz-placeholder {
    color: #54555f;
}

.dark .header_container input::placeholder {
    color: #54555f;
}

.dark .header_container input:focus {
    outline: none;
}

.dark .upper_states {
    margin-top: -4rem;
}

.dark .upper_states .states_container {
    --bs-gutter-x: 1.2rem;
    --bs-gutter-y: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.dark .upper_states .states_container > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

.dark .upper_states .states_container .state {
    min-height: 1px;
    height: 100%;
    flex: 0 0 auto;
    width: 20%;
}

.dark .upper_states .states_container .state .inner_state {
    background: rgba(137, 97, 222, 0.25);
    border-radius: 5px;
}

.dark .chart_container .charts {
    border-radius: 10px;
    position: relative;
    padding: 3.8rem 0rem 0.8rem 0rem;
}

.dark .chart_container .charts:before {
    content: "";
    background-color: #fff;
    height: 500px;
}

.dark .chart_container .charts .charts_btn {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 3.4%;
}

.dark .chart_container .charts .charts_btn .btn_container {
    background: rgba(137, 97, 222, 0.25);
    border-radius: 4px;
}

.dark .chart_container .charts .charts_btn .btn_container button {
    font-size: 16px;
    width: 80px;
    border: none;
    background: none;
    font-size: 0.8rem;
    padding: 0.2rem 0rem;
    color: #8961de;
    border-radius: 4px;
}

.dark .chart_container .charts .charts_btn .btn_container button.active_btn {
    background-color: #8961de;
    color: #fff;
}

.dark .chart_container .chart_cont_inner {
    width: 100%;
}

.dark .chart_container .recharts-legend-wrapper {
    display: none;
}

.dark .recent_activity {
    min-height: 1px;
    height: 100%;
}

.dark .recent_trans {
    overflow-x: auto;
    min-width: 100% !important;
    max-height: 400px;
}

.dark .recent_trans::-webkit-scrollbar {
    width: 7px;
}

.dark .recent_trans::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0.1176470588);
}

.dark .recent_trans::-webkit-scrollbar-thumb {
    background: #8961de;
    border-radius: 10px;
}

.dark .recent_trans .table {
    border-color: rgba(235, 239, 242, 0.08);
}

.dark .recent_trans table {
    width: 100%;
}

.dark .recent_trans .table > thead {
    border-top: 1px solid rgba(235, 239, 242, 0.08);
}

.dark .recent_trans .table > thead tr {
    border-color: rgba(235, 239, 242, 0.08);
}

.dark .recent_trans tbody tr td {
    padding: 1rem 0rem;
}

.dark .recent_trans tbody tr td button {
    background: rgba(0, 195, 114, 0.25);
    border-radius: 5px;
    height: 30px;
    color: #00c372;
}

.dark .user_container_upper .user_btn_container button:nth-child(1) {
    background: rgba(47, 48, 54, 0.25);
    border-radius: 3px;
    height: 30px;
    width: 100px;
}

.dark .user_container_upper .user_btn_container button:nth-child(2) {
    background: #8961de;
    border-radius: 3px;
    height: 30px;
    width: 100px;
}

.dark .user_container_upper .user_table {
    max-width: 100%;
    overflow-x: auto;
}

.dark .user_container_upper .user_table table {
    width: 100%;
}

.dark .user_container_upper .user_table table tr {
    border-color: rgba(235, 239, 242, 0.08);
}

.dark .user_container_upper .user_table table tr th {
    padding: 1.2rem 0rem;
}

.dark .user_container_upper .user_table tbody tr td {
    padding: 1.2rem 0rem;
}

.dark .user_container_upper .user_table tbody tr td:nth-child(3) {
    min-width: 100px;
}

.dark .user_container_upper .user_table tbody tr td:nth-child(4) {
    min-width: 100px;
}

.dark .user_container_upper .user_table tbody tr td:nth-child(5) {
    min-width: 180px;
}

.dark .payment_container_upper .database_setup label {
    color: #ceced3;
    margin-bottom: 0.1rem;
}

.dark .payment_container_upper .database_setup input {
    background: rgba(41, 41, 41, 0.35);
    border: 1px solid #292929;
    border-radius: 5px;
    height: 38px;
    width: 100%;
    color: #ceced3;
    font-size: 16px;
    padding: 0rem 0.8rem;
}

.dark .payment_container_upper .database_setup input:focus {
    outline: none;
}

.dark .payment_container_upper .database_setup input::-moz-placeholder {
    color: #76767a;
}

.dark .payment_container_upper .database_setup input::placeholder {
    color: #54555f;
}

.dark .payment_container_upper .database_setup textarea {
    background: rgba(41, 41, 41, 0.35);
    border: 1px solid #292929;
    border-radius: 5px;
    width: 100%;
    color: #ceced3;
    font-size: 16px;
    padding: 0.8rem;
    resize: none;
}

.dark .payment_container_upper .database_setup textarea:focus {
    outline: none;
}

.dark .payment_container_upper .database_setup textarea::-moz-placeholder {
    color: #54555f;
}

.dark .payment_container_upper .database_setup textarea::placeholder {
    color: #54555f;
}

.dark .payment_container_upper .database_setup select {
    background: rgba(41, 41, 41, 0.35);
    border: 1px solid #292929;
    border-radius: 5px;
    height: 38px;
    width: 100%;
    color: #ceced3;
    font-size: 16px;
    padding: 0rem 0.8rem;
}

.dark .payment_container_upper .database_setup select:focus {
    outline: none;
}

.dark .payment_container_upper .database_setup select::-moz-placeholder {
    color: #54555f;
}

.dark .payment_container_upper .database_setup select::placeholder {
    color: #54555f;
}

.dark .payment_container_upper .database_setup .inp1 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.dark .payment_container_upper .database_setup .inp2 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.dark .payment_container_upper .database_setup button {
    height: 38px;
    background: #8961de;
    border-radius: 5px;
}

.dark .payment_container_upper .user_btn_container button:nth-child(1) {
    background: rgba(47, 48, 54, 0.25);
    border-radius: 3px;
    height: 30px;
    width: 100px;
}

.dark .payment_container_upper .user_btn_container button:nth-child(2) {
    background: #8961de;
    border-radius: 3px;
    height: 30px;
    width: 100px;
}

.dark .payment_container_upper .payment_table {
    max-width: 100%;
    overflow-x: auto;
}

.dark .payment_container_upper .payment_table table {
    width: 100%;
}

.dark .payment_container_upper .payment_table table tr {
    border-color: rgba(235, 239, 242, 0.08);
}

.dark .payment_container_upper .payment_table table tr th {
    padding: 1.2rem 0rem;
}

.dark .payment_container_upper .payment_table tbody tr td {
    padding: 1.2rem 0rem;
}

.dark .payment_container_upper .payment_table tbody tr td:nth-child(2) {
    min-width: 120px;
}

.dark .payment_container_upper .payment_table tbody tr td:nth-child(3) {
    min-width: 100px;
}

.dark .payment_container_upper .payment_table tbody tr td:nth-child(4) {
    min-width: 80px;
}

.dark .payment_container_upper .payment_table tbody tr td:nth-child(5) {
    min-width: 100px;
}

.dark select {
    background: rgba(41, 41, 41, 0.35);
    border: 1px solid #292929;
    border-radius: 5px;
    height: 38px;
    width: 100%;
    color: #54555f;
    font-size: 16px;
    padding: 0rem 0.8rem;
}

.dark select:focus {
    outline: none;
}

.dark select::-moz-placeholder {
    color: #54555f;
}

.dark select::placeholder {
    color: #54555f;
}

.dark .forms {
    /* The container */
    /* Hide the browser's default checkbox */
    /* Create a custom checkbox */
    /* On mouse-over, add a grey background color */
    /* When the checkbox is checked, add a blue background */
    /* Create the checkmark/indicator (hidden when not checked) */
    /* Show the checkmark when checked */
    /* Style the checkmark/indicator */
}

.dark .forms label {
    color: #54555f;
    margin-bottom: 0.1rem;
}

.dark .forms input {
    background: rgba(41, 41, 41, 0.35);
    border: 1px solid #292929;
    border-radius: 5px;
    height: 38px;
    width: 100%;
    color: #54555f;
    font-size: 16px;
    padding: 0rem 0.8rem;
}

.dark .forms input:focus {
    outline: none;
}

.dark .forms input::-moz-placeholder {
    color: #54555f;
}

.dark .forms input::placeholder {
    color: #54555f;
}

.dark .forms textarea {
    background: rgba(41, 41, 41, 0.35);
    border: 1px solid #292929;
    border-radius: 5px;
    width: 100%;
    color: #54555f;
    font-size: 16px;
    padding: 0.8rem;
    resize: none;
}

.dark .forms textarea:focus {
    outline: none;
}

.dark .forms textarea::-moz-placeholder {
    color: #54555f;
}

.dark .forms textarea::placeholder {
    color: #54555f;
}

.dark .forms select {
    background: rgba(41, 41, 41, 0.35);
    border: 1px solid #292929;
    border-radius: 5px;
    height: 38px;
    width: 100%;
    color: #54555f;
    font-size: 16px;
    padding: 0rem 0.8rem;
}

.dark .forms select:focus {
    outline: none;
}

.dark .forms select::-moz-placeholder {
    color: #54555f;
}

.dark .forms select::placeholder {
    color: #54555f;
}

.dark .forms .inp1 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.dark .forms .inp2 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.dark .forms button {
    height: 38px;
    background: #8961de;
    border-radius: 5px;
}

.dark .forms .container_check {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.dark .forms .container_check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    border-radius: 4px;
}

.dark .forms .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background: #90a0b7;
    border-radius: 4px;
    opacity: 0.4;
}

.dark .forms .container_check:hover input ~ .checkmark {
    background-color: #ccc;
    opacity: 1;
}

.dark .forms .container_check input:checked ~ .checkmark {
    background-color: #8961de;
    border-radius: 4px;
    opacity: 1;
}

.dark .forms .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.dark .forms .container_check input:checked ~ .checkmark:after {
    display: block;
}

.dark .forms .container_check .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.dark .forms .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.dark .forms .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.dark .forms .abs {
    left: 1rem;
    top: 0.6rem;
}

.dark .release_setup {
    /* The container */
    /* Hide the browser's default checkbox */
    /* Create a custom checkbox */
    /* On mouse-over, add a grey background color */
    /* When the checkbox is checked, add a blue background */
    /* Create the checkmark/indicator (hidden when not checked) */
    /* Show the checkmark when checked */
    /* Style the checkmark/indicator */
}

.dark .release_setup .container_check {
    margin-bottom: 0.8rem !important;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.dark .release_setup .container_check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    border-radius: 4px;
}

.dark .release_setup .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background: #90a0b7;
    border-radius: 4px;
    opacity: 0.4;
}

.dark .release_setup .container_check:hover input ~ .checkmark {
    background-color: #ccc;
    opacity: 1;
}

.dark .release_setup .container_check input:checked ~ .checkmark {
    background-color: #8961de;
    border-radius: 4px;
    opacity: 1;
}

.dark .release_setup .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.dark .release_setup .container_check input:checked ~ .checkmark:after {
    display: block;
}

.dark .release_setup .container_check .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.dark .release_setup .first_s {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.dark .release_setup .second_s {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.dark .release_table .btns_span {
    z-index: 10;
}

.dark .release_table button {
    width: 110px;
}

.dark .release_table .position-absolute {
    left: 50%;
    transform: translateX(-50%);
}

.dark .release_table .rete_head {
    --bs-gutter-x: 1.2rem;
    --bs-gutter-y: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.dark .release_table .rete_head > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    margin-top: var(--bs-gutter-y);
}

.dark .release_table .rete_head p {
    min-height: 1px;
    height: 100%;
    flex: 0 0 auto;
    width: 14.2857142857%;
    border: 1px solid #ebeff2;
}

.dark .release_table .body_p {
    height: 110px;
}

.dark .release_table table.cal {
    table-layout: fixed;
    width: 100%;
}

.dark .release_table table.cal tr td {
    border: 1px solid rgba(235, 239, 242, 0.08);
    width: 25%;
}

.dark .release_table .releaseCal {
    min-width: 100%;
    overflow-x: auto;
}

.dark .release_table .releaseCal table {
    width: 100%;
}

.dark .release_table .releaseCal table tr td {
    width: 140px;
}

.dark .release_table .col2 {
    width: 60%;
}

.dark .release_table .active {
    padding: 0.2rem 0.5rem;
    background: rgba(137, 97, 222, 0.25);
    border: 1px solid #8961de;
    border-radius: 5px;
    color: #8961de;
}

.action_create {
    height: 38px;
    border-radius: 5px;
    background-color: #8961de;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (max-width: 1420px) {
    .light .upper_states .states_container .state {
        width: 25%;
    }

    .dark .upper_states .states_container .state {
        width: 25%;
    }
}

@media screen and (min-width: 1400px) {
    .sidebar_container {
        width: 305px;
    }

    .hamb {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .light .upper_states .states_container .state {
        width: 33.3333333%;
    }

    .light .upper_states .states_container {
        justify-content: center;
    }

    .dark .upper_states .states_container .state {
        width: 33.3333333%;
    }

    .dark .upper_states .states_container {
        justify-content: center;
    }
}

@media screen and (max-width: 1400px) {
    .sidebar_container {
        position: absolute;
        z-index: 1;
    }

    .sidebarActive {
        width: 270px;
        overflow: auto;
    }

    .nonActiveSidebar {
        width: 0px;
        overflow: hidden;
    }
}

@media screen and (max-width: 998px) {
    .light .upper_states .states_container .state {
        width: 50%;
    }

    .dark .upper_states .states_container .state {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .exitBtn {
        position: absolute;
        right: 1rem;
    }

    .light .header_container input {
        width: 100%;
    }

    .light .recent_trans tbody tr td:nth-child(1) {
        min-width: 140px;
    }

    .light .recent_trans tbody tr td:nth-child(2) {
        min-width: 200px;
    }

    .light .recent_trans tbody tr td:nth-child(3) {
        min-width: 120px;
    }

    .light .recent_trans tbody tr td:nth-child(4) {
        min-width: 110px;
    }

    .light .recent_trans tbody tr td:nth-child(5) {
        min-width: 140px;
    }

    .light .recent_trans tbody tr td:nth-child(6) {
        min-width: 100px;
    }

    .light .chart_container .charts {
        padding: 6rem 0rem 0.8rem 0rem;
    }

    .light .user_container_upper .user_table tbody tr td:nth-child(1) {
        min-width: 180px;
    }

    .light .user_container_upper .user_table tbody tr td:nth-child(2) {
        min-width: 200px;
    }

    .light .user_container_upper .user_table tbody tr td:nth-child(6) {
        min-width: 140px;
    }

    .light .payment_container_upper .payment_table tbody tr td:nth-child(1) {
        min-width: 200px;
    }

    .light .payment_container_upper .payment_table thead tr th:nth-child(4) {
        min-width: 125px;
    }

    .light .payment_container_upper .payment_table thead tr th:nth-child(5) {
        min-width: 125px;
    }

    .light .payment_container_upper .payment_table thead tr th:nth-child(6) {
        min-width: 110px;
    }

    .dark .header_container input {
        width: 100%;
    }

    .dark .recent_trans tbody tr td:nth-child(1) {
        min-width: 140px;
    }

    .dark .recent_trans tbody tr td:nth-child(2) {
        min-width: 200px;
    }

    .dark .recent_trans tbody tr td:nth-child(3) {
        min-width: 120px;
    }

    .dark .recent_trans tbody tr td:nth-child(4) {
        min-width: 110px;
    }

    .dark .recent_trans tbody tr td:nth-child(5) {
        min-width: 140px;
    }

    .dark .recent_trans tbody tr td:nth-child(6) {
        min-width: 100px;
    }

    .dark .chart_container .charts {
        padding: 7.4rem 0rem 0.8rem 0rem;
    }

    .dark .user_container_upper .user_table tbody tr td:nth-child(1) {
        min-width: 180px;
    }

    .dark .user_container_upper .user_table tbody tr td:nth-child(2) {
        min-width: 200px;
    }

    .dark .user_container_upper .user_table tbody tr td:nth-child(6) {
        min-width: 140px;
    }

    .dark .payment_container_upper .payment_table tbody tr td:nth-child(1) {
        min-width: 200px;
    }

    .dark .payment_container_upper .payment_table thead tr th:nth-child(4) {
        min-width: 125px;
    }

    .dark .payment_container_upper .payment_table thead tr th:nth-child(5) {
        min-width: 125px;
    }

    .dark .payment_container_upper .payment_table thead tr th:nth-child(6) {
        min-width: 110px;
    }

    .releaseCal {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 575px) {
    .light .upper_states .states_container .state {
        width: 100%;
    }

    .btn_container {
        width: 100%;
    }

    .light .chart_container .charts .charts_btn .btn_container button {
        width: 100%;
    }

    .dark .upper_states .states_container .state {
        width: 100%;
    }

    .btn_container {
        width: 100%;
    }

    .dark .chart_container .charts .charts_btn .btn_container button {
        width: 100%;
    }
}

/*# sourceMappingURL=style.css.map */

.action-list-td {
    max-width: 16rem;
    padding-right: 1.5rem !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}