@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

// VARIABLES START
$color1: #8961de;
$color2: #c2cfe0;
$color3: #212121;
$color4: #181818;
// VARIABLES END

// GLOBAL START
html {
  width: 100%;
  font-size: 100%;
  overflow-x: hidden;
  scroll-behavior: auto !important;
}

body {
  max-height: 100vh;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 668px) {
  html {
    font-size: 96%;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 92%;
  }
}

@media screen and (max-width: 475px) {
  html {
    font-size: 88%;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 84%;
  }
}

@media screen and (max-width: 280px) {
  html {
    font-size: 80%;
  }
}

.f8 {
  font-size: 0.5rem;
}

.f10 {
  font-size: 0.625rem;
}

.f12 {
  font-size: 0.75rem;
}

.f14 {
  font-size: 0.875rem;
}

.f15 {
  font-size: 0.938rem;
}

.f16 {
  font-size: 1rem;
}

.f18 {
  font-size: 1.125rem;
}

.f20 {
  font-size: 1.25rem;
}

.f22 {
  font-size: 1.375rem;
}

.f24 {
  font-size: 1.5rem;
}

.f34 {
  font-size: 2.125rem;
}

.f30 {
  font-size: 1.875rem;
}

.f35 {
  font-size: 2.125rem;
  line-height: 57px;
}

.f50 {
  font-size: 3.125rem;
  line-height: 65px;
}

.f64 {
  font-size: 4rem;
  line-height: 71px;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

.pointer {
  cursor: pointer;
}

.mx-content {
  width: max-content;
}

.active_ {
  height: 18px;
  width: 18px;
  background: $color1;
  margin-right: 5px;
  border-radius: 5px;
}

.pointer {
  cursor: pointer;
}

.unactive_ {
  height: 18px;
  width: 18px;
  background: $color2;
  margin-right: 5px;
  border-radius: 5px;
}

// COLORS
.color1 {
  color: $color1;
}

.light {
  .color2 {
    color: $color2;
  }

  .color3 {
    color: #90a0b7;
  }

  hr {
    background-color: #ebeff2;
    padding: 0.09rem 0rem;
  }
}

.dark {
  .color2 {
    color: #2f3036;
  }

  .color3 {
    color: #54555f;
  }

  hr {
    background-color: rgba(235, 239, 242, 0.08);
    padding: 0.09rem 0rem;
  }
}

.bg-purple-light {
  background: rgba(137, 97, 222, 0.25) !important;
}

.bg-purple-dark {
  background: #8961de !important;
}

.logo {
  img {
    max-width: 140px;
  }
}

.logo2 {
  img {
    max-width: 150px;
  }
}

// LIGHT START
.light {
  .logoD {
    display: block;
  }

  .logoW {
    display: none;
  }

  // LOGIN START
  .login_container {
    background-color: #f5f6f8;
    height: 100vh;
    width: 100%;

    // WAVE
    .bottom_wave {
      position: absolute;
      bottom: 0%;
    }

    // form
    .login_form {
      max-width: 392px;
      width: 100%;
      background-color: #fff;
      border-radius: 5px;

      label {
        color: #90a0b7;
      }

      input {
        background: rgba(235, 239, 242, 0.35);
        border: 1px solid #ebeff2;
        border-radius: 5px;
        height: 38px;
        color: #90a0b7;

        &::placeholder {
          color: #90a0b7;
        }

        &:focus {
          outline: none;
        }
      }

      .eye {
        position: absolute;
        top: 56%;
        transform: translateY(-50%);
        right: 0.5rem;
        color: #90a0b7;
      }

      button {
        height: 38px;
        border-radius: 5px;
        background-color: $color1;
      }
    }
  }

  // LOGIN END

  // SIDEBAR START
  .sidebar_container {
    transition: 0.2s;
    height: 100vh;
    background: #ffffff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.08);

    .top_side {
      border-bottom: 2px solid #ebeff2;
      height: 75px;
    }

    a {
      text-decoration: none;
    }

    a div {
      padding-left: 0.6rem;
      height: 45px;
      color: #90a0b7;
      border-radius: 5px;
      transition: 0.1s;

      p {
        padding-left: 2rem;
      }

      .img1::before {
        content: url(../assets/overview.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }

      .img2::before {
        content: url(../assets/user.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }

      .img3::before {
        content: url(../assets/payment.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }

      .img4::before {
        content: url(../assets/release.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }

      .img5::before {
        content: url(../assets/setting.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }
    }

    a:hover div {
      color: #fff;
      background: #8961de;

      .img1::before {
        content: url(../assets/overviewA.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }

      .img2::before {
        content: url(../assets/userA.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }

      .img3::before {
        content: url(../assets/paymentA.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }

      .img4::before {
        content: url(../assets/releaseA.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }

      .img5::before {
        content: url(../assets/settingA.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }
    }

    .activeNav div {
      background: #8961de;
      color: #fff;

      .img1::before {
        content: url(../assets/overviewA.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }

      .img2::before {
        content: url(../assets/userA.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }

      .img3::before {
        content: url(../assets/paymentA.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }

      .img4::before {
        content: url(../assets/releaseA.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }

      .img5::before {
        content: url(../assets/settingA.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }
    }
  }

  .header_container {
    height: 75px;
    background-color: #fff;

    input {
      color: #90a0b7;
      height: 27px;

      &::placeholder {
        color: #90a0b7;
      }

      &:focus {
        outline: none;
      }
    }
  }

  // SIDEBAR END

  // STATES START
  .upper_states {
    margin-top: -4rem;

    .states_container {
      --bs-gutter-x: 1.2rem;
      --bs-gutter-y: 1.2rem;
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(var(--bs-gutter-y) * -1);
      margin-right: calc(var(--bs-gutter-x) * -0.5);
      margin-left: calc(var(--bs-gutter-x) * -0.5);

      & > * {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        margin-top: var(--bs-gutter-y);
      }

      .state {
        min-height: 1px;
        height: 100%;
        flex: 0 0 auto;
        width: 20%;

        .inner_state {
          background: rgba(137, 97, 222, 0.25);
          border-radius: 5px;
        }
      }
    }
  }

  // STATES END

  // CHART START
  .chart_container {
    .charts {
      border-radius: 10px;
      position: relative;
      padding: 3.8rem 0rem 0.8rem 0rem;

      &:before {
        content: "";
        background-color: #fff;
        // height: 500px;
      }

      .charts_btn {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 3.4%;

        .btn_container {
          background: rgba(137, 97, 222, 0.25);
          border-radius: 4px;

          button {
            font-size: 14px;
            width: 80px;
            border: none;
            background: none;
            font-size: 0.8rem;
            padding: 0.2rem 0rem;
            color: $color1;
            border-radius: 4px;

            &.active_btn {
              background-color: $color1;
              color: #fff;
            }
          }
        }
      }

      .chart_cont_inner {
        width: 100%;
      }

      .recharts-legend-wrapper {
        display: none;
      }
    }
  }

  // CHART END

  // RECENT ACTIVITY START
  .recent_activity {
    min-height: 1px;
    height: 100%;
  }

  .recent_trans {
    overflow-x: auto;
    min-width: 100% !important;
    max-height: 400px;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: $color1;
      border-radius: 10px;
    }

    .table {
      border-color: rgba(235, 239, 242, 0.08);
    }

    table {
      width: 100%;
    }

    .table > thead {
      border-top: 1px solid rgba(235, 239, 242, 0.08);
    }

    tbody {
      tr {
        td {
          padding: 1rem 0rem;

          button {
            background: rgba(0, 195, 114, 0.25);
            border-radius: 5px;
            height: 30px;
            color: #00c372;
          }
        }
      }
    }
  }

  // RECENT ACTIVITY END

  // RECENT ACTIVITY END
  .user_container_upper {
    .user_btn_container {
      button:nth-child(1) {
        background: rgba(194, 207, 224, 0.25);
        border-radius: 3px;
        height: 30px;
        width: 100px;
      }

      button:nth-child(2) {
        background: #8961de;
        border-radius: 3px;
        height: 30px;
        width: 100px;
      }
    }

    .user_table {
      max-width: 100%;
      overflow-x: auto;

      table {
        width: 100%;

        tr {
          th {
            padding: 1.2rem 0rem;
          }
        }
      }

      tbody {
        tr {
          td {
            padding: 1.2rem 0rem;

            &:nth-child(3) {
              min-width: 100px;
            }

            &:nth-child(4) {
              min-width: 100px;
            }

            &:nth-child(5) {
              min-width: 180px;
            }
          }
        }
      }
    }
  }

  // RECENT ACTIVITY END

  // PAYMENT PLANS START
  .payment_container_upper {
    .database_setup {
      label {
        color: #90a0b7;
        margin-bottom: 0.1rem;
      }

      input {
        background: rgba(235, 239, 242, 0.35);
        border: 1px solid #ebeff2;
        border-radius: 5px;
        height: 38px;
        width: 100%;
        color: #90a0b7;
        font-size: 14px;
        padding: 0rem 0.8rem;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: #90a0b7;
        }
      }

      textarea {
        background: rgba(235, 239, 242, 0.35);
        border: 1px solid #ebeff2;
        border-radius: 5px;
        width: 100%;
        color: #90a0b7;
        font-size: 14px;
        padding: 0.8rem;
        resize: none;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: #90a0b7;
        }
      }

      .inp1 {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      .inp2 {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }

      button {
        height: 46px;
        background: #8961de;
        border-radius: 5px;
      }
    }

    .user_btn_container {
      button:nth-child(1) {
        background: rgba(194, 207, 224, 0.25);
        border-radius: 3px;
        height: 30px;
        width: 100px;
      }

      button:nth-child(2) {
        background: #8961de;
        border-radius: 3px;
        height: 30px;
        width: 100px;
      }
    }

    .payment_table {
      max-width: 100%;
      overflow-x: auto;

      table {
        width: 100%;

        tr {
          th {
            padding: 1.2rem 0rem;
          }
        }
      }

      tbody {
        tr {
          td {
            padding: 1.2rem 0rem;

            &:nth-child(2) {
              min-width: 120px;
            }

            &:nth-child(3) {
              min-width: 100px;
            }

            &:nth-child(4) {
              min-width: 80px;
            }

            &:nth-child(5) {
              min-width: 100px;
            }
          }
        }
      }
    }
  }

  // PAYMENT PLANS END

  .error {
    color: red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    padding-top: 4px;
  }

  select {
    background: rgba(235, 239, 242, 0.35);
    border: 1px solid #ebeff2;
    border-radius: 5px;
    height: 38px;
    width: 100%;
    color: #90a0b7;
    font-size: 14px;
    padding: 0rem 0.8rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #90a0b7;
    }
  }

  // FORMS DATA START
  .forms {
    label {
      color: #90a0b7;
      margin-bottom: 0.1rem;
    }

    input {
      background: rgba(235, 239, 242, 0.35);
      border: 1px solid #ebeff2;
      border-radius: 5px;
      height: 38px;
      width: 100%;
      color: #90a0b7;
      font-size: 14px;
      padding: 0rem 0.8rem;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #90a0b7;
      }
    }

    textarea {
      background: rgba(235, 239, 242, 0.35);
      border: 1px solid #ebeff2;
      border-radius: 5px;
      width: 100%;
      color: #90a0b7;
      font-size: 14px;
      padding: 0.8rem;
      resize: none;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #90a0b7;
      }
    }

    select {
      background: rgba(235, 239, 242, 0.35);
      border: 1px solid #ebeff2;
      border-radius: 5px;
      height: 38px;
      width: 100%;
      color: #90a0b7;
      font-size: 14px;
      padding: 0rem 0.8rem;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #90a0b7;
      }
    }

    .inp1 {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    .inp2 {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    button {
      height: 38px;
      background: #8961de;
      border-radius: 5px;
    }

    /* The container */
    .container_check {
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default checkbox */
    .container_check input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      border-radius: 4px;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 18px;
      width: 18px;
      background: #90a0b7;
      border-radius: 4px;
      opacity: 0.4;
    }

    /* On mouse-over, add a grey background color */
    .container_check:hover input ~ .checkmark {
      background-color: #ccc;
      opacity: 1;
    }

    /* When the checkbox is checked, add a blue background */
    .container_check input:checked ~ .checkmark {
      background-color: $color1;
      border-radius: 4px;
      opacity: 1;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .container_check input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .container_check .checkmark:after {
      left: 7px;
      top: 3px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
    }

    .upload-btn-wrapper input[type="file"] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }

    .abs {
      left: 1rem;
      top: 0.6rem;
    }
  }

  // FORMS DATA END

  // RELEASE SETUP START
  .release_setup {
    /* The container */
    .container_check {
      margin-bottom: 0.8rem !important;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default checkbox */
    .container_check input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      border-radius: 4px;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 18px;
      width: 18px;
      background: #90a0b7;
      border-radius: 4px;
      opacity: 0.4;
    }

    /* On mouse-over, add a grey background color */
    .container_check:hover input ~ .checkmark {
      background-color: #ccc;
      opacity: 1;
    }

    /* When the checkbox is checked, add a blue background */
    .container_check input:checked ~ .checkmark {
      background-color: $color1;
      border-radius: 4px;
      opacity: 1;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .container_check input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .container_check .checkmark:after {
      left: 7px;
      top: 3px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .first_s {
      border-bottom-right-radius: 0px !important;
      border-top-right-radius: 0px !important;
    }

    .second_s {
      border-bottom-left-radius: 0px !important;
      border-top-left-radius: 0px !important;
    }
  }

  .release_table {
    .btns_span {
      z-index: 10;
    }

    button {
      width: 110px;
    }

    .position-absolute {
      left: 50%;
      transform: translateX(-50%);
    }

    .rete_head {
      --bs-gutter-x: 1.2rem;
      --bs-gutter-y: 1.2rem;
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(var(--bs-gutter-y) * -1);
      margin-right: calc(var(--bs-gutter-x) * -0.5);
      margin-left: calc(var(--bs-gutter-x) * -0.5);

      & > * {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        margin-top: var(--bs-gutter-y);
      }

      p {
        min-height: 1px;
        height: 100%;
        flex: 0 0 auto;
        width: 14.2857142857%;
        border: 1px solid #ebeff2;
      }
    }

    .body_p {
      height: 110px;
    }

    table.cal {
      table-layout: fixed;
      width: 100%;

      tr {
        td {
          border: 1px solid #ebeff2;
          width: 25%;
        }
      }
    }

    .releaseCal {
      min-width: 100%;
      overflow-x: auto;

      table {
        width: 100%;

        tr {
          td {
            width: 140px;
          }
        }
      }
    }

    .col2 {
      width: 60%;
    }

    .active {
      padding: 0.2rem 0.5rem;
      background: rgba(137, 97, 222, 0.25);
      border: 1px solid #8961de;
      border-radius: 5px;
      color: #8961de;
    }
  }

  // RELEASE SETUP END
}

// LIGHT END

// DARK START
.dark {
  & > * {
    color: #fff;
  }

  .logoD {
    display: none;
  }

  .logoW {
    display: block;
  }

  .error {
    color: red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    padding-top: 4px;
  }

  .bg-white {
    background-color: #181818 !important;
  }

  // LOGIN START
  .login_container {
    background-color: $color3;
    height: 100vh;
    width: 100%;

    h4 {
      color: #fff;
    }

    // WAVE
    .bottom_wave {
      position: absolute;
      bottom: 0%;
    }

    // form
    .login_form {
      max-width: 392px;
      width: 100%;
      border-radius: 5px;
      background-color: $color4;

      label {
        color: #54555f;
      }

      input {
        background: rgba(41, 41, 41, 0.35);
        border: 1px solid #292929;
        color: #54555f;
        border-radius: 5px;
        height: 38px;

        &::placeholder {
          color: #54555f;
        }

        &:focus {
          outline: none;
        }
      }

      .eye {
        position: absolute;
        top: 56%;
        transform: translateY(-50%);
        right: 0.5rem;
        color: #54555f;
      }

      button {
        height: 38px;
        border-radius: 5px;
        background-color: $color1;
      }
    }
  }

  // LOGIN END

  // SIDEBAR START
  .sidebar_container {
    transition: 0.2s;
    height: 100vh;
    background: #181818;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.08);

    .top_side {
      border-bottom: 2px solid rgba(235, 239, 242, 0.08);
      height: 75px;
    }

    a {
      text-decoration: none;
    }

    a div {
      padding-left: 0.6rem;
      height: 45px;
      color: #54555f;
      border-radius: 5px;
      transition: 0.1s;

      p {
        padding-left: 2rem;
      }

      .img1::before {
        content: url(../assets/statesd/i5.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }

      .img2::before {
        content: url(../assets/statesd/i1.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }

      .img3::before {
        content: url(../assets/statesd/i2.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }

      .img4::before {
        content: url(../assets/statesd/i3.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }

      .img5::before {
        content: url(../assets/statesd/i4.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }
    }

    a:hover div {
      color: #fff;
      background: #8961de;

      .img1::before {
        content: url(../assets/overviewA.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }

      .img2::before {
        content: url(../assets/userA.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }

      .img3::before {
        content: url(../assets/paymentA.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }

      .img4::before {
        content: url(../assets/releaseA.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }

      .img5::before {
        content: url(../assets/settingA.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }
    }

    .activeNav div {
      background: #8961de;
      color: #fff;

      .img1::before {
        content: url(../assets/overviewA.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }

      .img2::before {
        content: url(../assets/userA.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }

      .img3::before {
        content: url(../assets/paymentA.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }

      .img4::before {
        content: url(../assets/releaseA.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }

      .img5::before {
        content: url(../assets/settingA.svg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27%;
      }
    }
  }

  .header_container {
    height: 75px;
    background-color: #181818;

    input {
      background-color: #181818;
      color: #54555f;
      height: 27px;

      &::placeholder {
        color: #54555f;
      }

      &:focus {
        outline: none;
      }
    }
  }

  // SIDEBAR END

  // STATES START
  .upper_states {
    margin-top: -4rem;

    .states_container {
      --bs-gutter-x: 1.2rem;
      --bs-gutter-y: 1.2rem;
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(var(--bs-gutter-y) * -1);
      margin-right: calc(var(--bs-gutter-x) * -0.5);
      margin-left: calc(var(--bs-gutter-x) * -0.5);

      & > * {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        margin-top: var(--bs-gutter-y);
      }

      .state {
        min-height: 1px;
        height: 100%;
        flex: 0 0 auto;
        width: 20%;

        .inner_state {
          background: rgba(137, 97, 222, 0.25);
          border-radius: 5px;
        }
      }
    }
  }

  // STATES END

  // CHART START
  .chart_container {
    .charts {
      border-radius: 10px;
      position: relative;
      padding: 3.8rem 0rem 0.8rem 0rem;

      &:before {
        content: "";
        background-color: #fff;
        height: 500px;
      }

      .charts_btn {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 3.4%;

        .btn_container {
          background: rgba(137, 97, 222, 0.25);
          border-radius: 4px;

          button {
            font-size: 14px;
            width: 80px;
            border: none;
            background: none;
            font-size: 0.8rem;
            padding: 0.2rem 0rem;
            color: $color1;
            border-radius: 4px;

            &.active_btn {
              background-color: $color1;
              color: #fff;
            }
          }
        }
      }
    }

    .chart_cont_inner {
      width: 100%;
    }

    .recharts-legend-wrapper {
      display: none;
    }
  }

  // CHART END

  // RECENT ACTIVITY START
  .recent_activity {
    min-height: 1px;
    height: 100%;
  }

  .recent_trans {
    overflow-x: auto;
    min-width: 100% !important;
    max-height: 400px;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f11e;
    }

    &::-webkit-scrollbar-thumb {
      background: $color1;
      border-radius: 10px;
    }

    .table {
      border-color: rgba(235, 239, 242, 0.08);
    }

    table {
      width: 100%;
    }

    .table > thead {
      border-top: 1px solid rgba(235, 239, 242, 0.08);

      tr {
        border-color: rgba(235, 239, 242, 0.08);
      }
    }

    tbody {
      tr {
        td {
          padding: 1rem 0rem;

          button {
            background: rgba(0, 195, 114, 0.25);
            border-radius: 5px;
            height: 30px;
            color: #00c372;
          }
        }
      }
    }
  }

  // RECENT ACTIVITY END

  // RECENT ACTIVITY END
  .user_container_upper {
    .user_btn_container {
      button:nth-child(1) {
        background: rgba(47, 48, 54, 0.25);
        border-radius: 3px;
        height: 30px;
        width: 100px;
      }

      button:nth-child(2) {
        background: #8961de;
        border-radius: 3px;
        height: 30px;
        width: 100px;
      }
    }

    .user_table {
      max-width: 100%;
      overflow-x: auto;

      table {
        width: 100%;

        tr {
          border-color: rgba(235, 239, 242, 0.08);
        }

        tr {
          th {
            padding: 1.2rem 0rem;
          }
        }
      }

      tbody {
        tr {
          td {
            padding: 1.2rem 0rem;

            &:nth-child(3) {
              min-width: 100px;
            }

            &:nth-child(4) {
              min-width: 100px;
            }

            &:nth-child(5) {
              min-width: 180px;
            }
          }
        }
      }
    }
  }

  // RECENT ACTIVITY END

  // PAYMENT PLANS START
  .payment_container_upper {
    .database_setup {
      label {
        color: #54555f;
        margin-bottom: 0.1rem;
      }

      input {
        background: rgba(41, 41, 41, 0.35);
        border: 1px solid #292929;
        border-radius: 5px;
        height: 38px;
        width: 100%;
        color: #54555f;
        font-size: 14px;
        padding: 0rem 0.8rem;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: #54555f;
        }
      }

      textarea {
        background: rgba(41, 41, 41, 0.35);
        border: 1px solid #292929;
        border-radius: 5px;
        width: 100%;
        color: #54555f;
        font-size: 14px;
        padding: 0.8rem;
        resize: none;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: #54555f;
        }
      }

      select {
        background: rgba(41, 41, 41, 0.35);
        border: 1px solid #292929;
        border-radius: 5px;
        height: 38px;
        width: 100%;
        color: #54555f;
        font-size: 14px;
        padding: 0rem 0.8rem;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: #54555f;
        }
      }

      .inp1 {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      .inp2 {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }

      button {
        height: 38px;
        background: #8961de;
        border-radius: 5px;
      }
    }

    .user_btn_container {
      button:nth-child(1) {
        background: rgba(47, 48, 54, 0.25);
        border-radius: 3px;
        height: 30px;
        width: 100px;
      }

      button:nth-child(2) {
        background: #8961de;
        border-radius: 3px;
        height: 30px;
        width: 100px;
      }
    }

    .payment_table {
      max-width: 100%;
      overflow-x: auto;

      table {
        width: 100%;

        tr {
          border-color: rgba(235, 239, 242, 0.08);

          th {
            padding: 1.2rem 0rem;
          }
        }
      }

      tbody {
        tr {
          td {
            padding: 1.2rem 0rem;

            &:nth-child(2) {
              min-width: 120px;
            }

            &:nth-child(3) {
              min-width: 100px;
            }

            &:nth-child(4) {
              min-width: 80px;
            }

            &:nth-child(5) {
              min-width: 100px;
            }
          }
        }
      }
    }
  }

  // PAYMENT PLANS END

  select {
    background: rgba(41, 41, 41, 0.35);
    border: 1px solid #292929;
    border-radius: 5px;
    height: 38px;
    width: 100%;
    color: #54555f;
    font-size: 14px;
    padding: 0rem 0.8rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #54555f;
    }
  }

  // FORMS DATA START
  .forms {
    label {
      color: #54555f;
      margin-bottom: 0.1rem;
    }

    input {
      background: rgba(41, 41, 41, 0.35);
      border: 1px solid #292929;
      border-radius: 5px;
      height: 38px;
      width: 100%;
      color: #54555f;
      font-size: 14px;
      padding: 0rem 0.8rem;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #54555f;
      }
    }

    textarea {
      background: rgba(41, 41, 41, 0.35);
      border: 1px solid #292929;
      border-radius: 5px;
      width: 100%;
      color: #54555f;
      font-size: 14px;
      padding: 0.8rem;
      resize: none;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #54555f;
      }
    }

    select {
      background: rgba(41, 41, 41, 0.35);
      border: 1px solid #292929;
      border-radius: 5px;
      height: 38px;
      width: 100%;
      color: #54555f;
      font-size: 14px;
      padding: 0rem 0.8rem;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #54555f;
      }
    }

    .inp1 {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    .inp2 {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    button {
      height: 38px;
      background: #8961de;
      border-radius: 5px;
    }

    /* The container */
    .container_check {
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default checkbox */
    .container_check input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      border-radius: 4px;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 18px;
      width: 18px;
      background: #90a0b7;
      border-radius: 4px;
      opacity: 0.4;
    }

    /* On mouse-over, add a grey background color */
    .container_check:hover input ~ .checkmark {
      background-color: #ccc;
      opacity: 1;
    }

    /* When the checkbox is checked, add a blue background */
    .container_check input:checked ~ .checkmark {
      background-color: $color1;
      border-radius: 4px;
      opacity: 1;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .container_check input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .container_check .checkmark:after {
      left: 7px;
      top: 3px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
    }

    .upload-btn-wrapper input[type="file"] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }

    .abs {
      left: 1rem;
      top: 0.6rem;
    }
  }

  // FORMS DATA END

  // RELEASE SETUP START
  .release_setup {
    /* The container */
    .container_check {
      margin-bottom: 0.8rem !important;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default checkbox */
    .container_check input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      border-radius: 4px;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 18px;
      width: 18px;
      background: #90a0b7;
      border-radius: 4px;
      opacity: 0.4;
    }

    /* On mouse-over, add a grey background color */
    .container_check:hover input ~ .checkmark {
      background-color: #ccc;
      opacity: 1;
    }

    /* When the checkbox is checked, add a blue background */
    .container_check input:checked ~ .checkmark {
      background-color: $color1;
      border-radius: 4px;
      opacity: 1;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .container_check input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .container_check .checkmark:after {
      left: 7px;
      top: 3px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .first_s {
      border-bottom-right-radius: 0px !important;
      border-top-right-radius: 0px !important;
    }

    .second_s {
      border-bottom-left-radius: 0px !important;
      border-top-left-radius: 0px !important;
    }
  }

  .release_table {
    .btns_span {
      z-index: 10;
    }

    button {
      width: 110px;
    }

    .position-absolute {
      left: 50%;
      transform: translateX(-50%);
    }

    .rete_head {
      --bs-gutter-x: 1.2rem;
      --bs-gutter-y: 1.2rem;
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(var(--bs-gutter-y) * -1);
      margin-right: calc(var(--bs-gutter-x) * -0.5);
      margin-left: calc(var(--bs-gutter-x) * -0.5);

      & > * {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        margin-top: var(--bs-gutter-y);
      }

      p {
        min-height: 1px;
        height: 100%;
        flex: 0 0 auto;
        width: 14.2857142857%;
        border: 1px solid #ebeff2;
      }
    }

    .body_p {
      height: 110px;
    }

    table.cal {
      table-layout: fixed;
      width: 100%;

      tr {
        td {
          border: 1px solid rgba(235, 239, 242, 0.08);
          width: 25%;
        }
      }
    }

    .releaseCal {
      min-width: 100%;
      overflow-x: auto;

      table {
        width: 100%;

        tr {
          td {
            width: 140px;
          }
        }
      }
    }

    .col2 {
      width: 60%;
    }

    .active {
      padding: 0.2rem 0.5rem;
      background: rgba(137, 97, 222, 0.25);
      border: 1px solid #8961de;
      border-radius: 5px;
      color: #8961de;
    }
  }

  // RELEASE SETUP END
}

// DARK END

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// MEDIA START
@media screen and (max-width: 1420px) {
  .light .upper_states .states_container .state {
    width: 25%;
  }

  // DARK
  .dark .upper_states .states_container .state {
    width: 25%;
  }
}

@media screen and (min-width: 1400px) {
  .sidebar_container {
    width: 305px;
  }
  .hamb {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .light .upper_states .states_container .state {
    width: 33.3333333%;
  }
  .light .upper_states .states_container {
    justify-content: center;
  }

  // DARK
  .dark .upper_states .states_container .state {
    width: 33.3333333%;
  }
  .dark .upper_states .states_container {
    justify-content: center;
  }
}

@media screen and (max-width: 1400px) {
  .sidebar_container {
    position: absolute;
    z-index: 1;
  }
  .sidebarActive {
    width: 270px;
    overflow: auto;
  }
  .nonActiveSidebar {
    width: 0px;
    overflow: hidden;
  }
}

@media screen and (max-width: 998px) {
  .light .upper_states .states_container .state {
    width: 50%;
  }

  // DARK
  .dark .upper_states .states_container .state {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .exitBtn {
    position: absolute;
    right: 1rem;
  }

  .light .header_container input {
    width: 100%;
  }
  .light .recent_trans tbody tr td:nth-child(1) {
    min-width: 140px;
  }
  .light .recent_trans tbody tr td:nth-child(2) {
    min-width: 200px;
  }
  .light .recent_trans tbody tr td:nth-child(3) {
    min-width: 120px;
  }
  .light .recent_trans tbody tr td:nth-child(4) {
    min-width: 110px;
  }
  .light .recent_trans tbody tr td:nth-child(5) {
    min-width: 140px;
  }
  .light .recent_trans tbody tr td:nth-child(6) {
    min-width: 100px;
  }
  .light .chart_container .charts {
    padding: 6rem 0rem 0.8rem 0rem;
  }
  .light .user_container_upper .user_table tbody tr td:nth-child(1) {
    min-width: 180px;
  }
  .light .user_container_upper .user_table tbody tr td:nth-child(2) {
    min-width: 200px;
  }
  .light .user_container_upper .user_table tbody tr td:nth-child(6) {
    min-width: 140px;
  }
  .light .payment_container_upper .payment_table tbody tr td:nth-child(1) {
    min-width: 200px;
  }
  .light .payment_container_upper .payment_table thead tr th:nth-child(4) {
    min-width: 125px;
  }
  .light .payment_container_upper .payment_table thead tr th:nth-child(5) {
    min-width: 125px;
  }
  .light .payment_container_upper .payment_table thead tr th:nth-child(6) {
    min-width: 110px;
  }

  // DARK
  .dark .header_container input {
    width: 100%;
  }
  .dark .recent_trans tbody tr td:nth-child(1) {
    min-width: 140px;
  }
  .dark .recent_trans tbody tr td:nth-child(2) {
    min-width: 200px;
  }
  .dark .recent_trans tbody tr td:nth-child(3) {
    min-width: 120px;
  }
  .dark .recent_trans tbody tr td:nth-child(4) {
    min-width: 110px;
  }
  .dark .recent_trans tbody tr td:nth-child(5) {
    min-width: 140px;
  }
  .dark .recent_trans tbody tr td:nth-child(6) {
    min-width: 100px;
  }
  .dark .chart_container .charts {
    padding: 7.4rem 0rem 0.8rem 0rem;
  }
  .dark .user_container_upper .user_table tbody tr td:nth-child(1) {
    min-width: 180px;
  }
  .dark .user_container_upper .user_table tbody tr td:nth-child(2) {
    min-width: 200px;
  }
  .dark .user_container_upper .user_table tbody tr td:nth-child(6) {
    min-width: 140px;
  }
  .dark .payment_container_upper .payment_table tbody tr td:nth-child(1) {
    min-width: 200px;
  }
  .dark .payment_container_upper .payment_table thead tr th:nth-child(4) {
    min-width: 125px;
  }
  .dark .payment_container_upper .payment_table thead tr th:nth-child(5) {
    min-width: 125px;
  }
  .dark .payment_container_upper .payment_table thead tr th:nth-child(6) {
    min-width: 110px;
  }
  .releaseCal {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 575px) {
  .light .upper_states .states_container .state {
    width: 100%;
  }
  .btn_container {
    width: 100%;
  }
  .light .chart_container .charts .charts_btn .btn_container button {
    width: 100%;
  }

  // DARK
  .dark .upper_states .states_container .state {
    width: 100%;
  }
  .btn_container {
    width: 100%;
  }
  .dark .chart_container .charts .charts_btn .btn_container button {
    width: 100%;
  }
}

// MEDIA END
