$desktop-height: 820px;

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: var(--m-xl);
  max-width: calc(100% - var(--m));
  margin: 0 auto;

  @media (max-height: $desktop-height) {
    gap: var(--m);
    margin: var(--m-xs) auto;
  }
}
