$height: 26px;
$offset: 3px;
$knob: $height - $offset * 2;

.container {
  display: inline-flex;
  align-items: center;
  gap: var(--m-xs);

  input {
    height: 0;
    visibility: hidden;
    width: 0;
    position: absolute;

    &:disabled:checked + .slider {
      background: var(--color-primary-disabled);
      cursor: default;
    }

    &:checked + .slider {
      background: var(--color-primary);
    }

    &:checked + .slider:after {
      left: calc(100% - #{$offset});
      transform: translate(-100%, 0);
      background: var(--color-text-on-primary);
    }
  }

  .slider {
    background: var(--color-input-background-soft);
    border-radius: $height;
    cursor: pointer;
    display: block;
    height: $height;
    position: relative;
    width: $height * 1.8;

    &::after {
      content: "";
      background: var(--color-text-soft);
      border-radius: 50%;
      height: $knob;
      position: absolute;
      aspect-ratio: 1;
      left: $offset;
      top: $offset;
    }
  }
}
