.reviewContainer {

  .tableWrapper {
    overflow: hidden;
  }

  .actions {
    margin-top: var(--m);
    display: flex;
    justify-content: space-between;
  }

  .iconButton {
     svg {
      stroke: var(--color-text-on-primary);
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  /* Adjust the margin as needed */
}

.pagination button {
  padding: 8px 16px;
  margin: 0 4px;
  /* Adjust the margin as needed */
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  color: #333;
  border-radius: 4px;
}

.pagination button:disabled {
  cursor: not-allowed;
  background-color: #ddd;
  color: #999;
}

.pagination span {
  margin: 0 8px;
  font-size: 14px;
  font-weight: bold;
}

.filters {
  width: fit-content;
}

.spinner {
  border: 1px solid var(--color-border);
  margin-top: var(--m);
  padding: var(--m);
  border-radius: var(--border-radius-1);
}

.errorContainer {
  display: flex;
  justify-content: center;
}

.headerCell {
  display: flex;
  gap: 7px;
}
