.icon {
    object-fit: contain;
    object-position: 50% 50%;

    &:not([data-stroke="no-stroke"]) {
        stroke: currentColor;
    }

    &:is([data-stroke="no-stroke"]):not([data-fill="no-fill"]) {
        fill: currentColor;
    }

    &.xxs {
        width: 8px;
        height: 8px;
    }
    &.xs {
        width: 12px;
        height: 12px;
    }
    &.s {
        width: 16px;
        height: 16px;
    }
    &.m {
        width: 24px;
        height: 24px;
    }
    &.l {
        width: 32px;
        height: 32px;
    }
    &.xl {
        width: 48px;
        height: 48px;
    }
    &.xxl {
        width: 64px;
        height: 64px;
    }
}
