.TableFlowImporter {
  border: none;
  background-color: transparent;
  padding: 0 1rem;
  border-radius: 1.2rem;
  color: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  height: 2.4rem;
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  transition: filter 0.2s ease-out;
}

.TableFlowImporter svg {
  display: block;
}

.TableFlowImporter svg path {
  stroke: currentColor !important;
}

.TableFlowImporter:hover,
.TableFlowImporter:active {
  filter: brightness(1.2);
}

.TableFlowImporter-dialog {
  background-color: transparent;
  border-radius: 1rem;
  border: none;
  position: fixed;
  inset: 0;
  padding: 0;
}

.TableFlowImporter-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.85);
}

.TableFlowImporter-dialog iframe {
  border-radius: 1rem;
  width: 80vw;
  height: 80vh;
  min-width: 907px;
  min-height: 650px;
  border: none;
}

.TableFlowImporter-div iframe {
  border: none;
  display: block;
  width: 100%;
  min-height: 700px;
}
