.container {
  margin-top: var(--m-l);
  display: flex;
  gap: var(--m-xl);
  flex-wrap: wrap; 

  @media (max-width: 900px) {
    flex-direction: column;
  }
}


.column {
  flex: 0 0 calc(50% - (var(--m-xl) / 2));
  box-sizing: border-box;

  h3 {
    font-size: var(--font-size-l);
  }

  & > p {
    color: var(--color-text-soft);
  }
}

.box.box {
  flex: 1 1 100px;
  margin: 0;
  padding: var(--m-l);
  min-height: 110px;
}
