.content {
  display: flex;
  gap: var(--m);
  align-items: flex-start;
  align-self: center;

  & > * {
    &:first-of-type {
      width: 62%;
    }
  }
}

.box{
  display: flex;
  flex-direction: column;
  gap: 14px;
}