.content {
  display: flex;
  gap: var(--m);
  align-items: flex-start;
  align-self: center;
  flex-grow: 1;

  & > * {
    &:first-child {
      flex: 1 1 500px;
      overflow: hidden;
    }
    &:last-child {
      flex-basis: 38%;
    }
  }
}

.box {
  display: flex;
  flex-direction: column;
  gap: var(--m-s);

  svg {
    height: var(--font-size-xl);
    width: var(--font-size-xl);
  }
}

.tableContainer {
  overflow: hidden;
  overflow-y: auto;
  max-height: 496px;
  outline: 1px solid var(--color-border);
  border-radius: var(--border-radius-2);
}
