.content {
  display: flex;
  gap: var(--m);
  align-self: center;
  flex-grow: 1;

  & > * {
    &:first-child {
      flex: 1 1 500px;
      overflow: hidden;
    }
    &:last-child {
      flex-basis: 38%;
    }
  }
}

.box {
  display: flex;
  flex-direction: column;
  gap: var(--m-s);
  max-height: 550px;
}

.tableContainer {
  overflow-y: hidden;
  flex: 0 1 auto;
  outline: 1px solid var(--color-border);
  border-radius: var(--border-radius-2);

  &:hover {
    overflow-y: auto;
    outline: none;
    padding: 1px;
    margin: -1px;
    padding-right: var(--m-s);
    margin-right: calc(var(--m-s) * -1);
  }
}
