.content {
  display: flex;
  gap: var(--m);
  align-items: flex-start;
  align-self: center;

  & > * {
    &:first-of-type {
      width: 62%;
    }
  }
}

.box{
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.tableContainer{
  overflow: hidden;
  overflow-y: scroll;
  max-height: 496px;
  outline: 1px solid var(--color-border);
  border-radius: var(--border-radius-2);
}