.rangeControl {
  display: flex;
  align-items: center;
}

.inputWrapper {
  flex: 1;
}

.inputSeparator {
  margin: 0 var(--m-s);
  width: 14px;
  height: 3px;
  margin-top: 25px;
  background-color: var(--color-text-on-primary);
}

.formTooltip {
  margin-left: 5px;
}

.formLabel {
  display: inline-flex;
}

.validationPlaceholder {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}